# EditorConfig ajuda a manter estilos de codificação consistentes
# para múltiplos desenvolvedores trabalhando em vários editores e IDEs.
# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{java,jva,kt,kts}]
indent_size = 4
